{% extends 'base.html.twig' %}

{% block body %}

    {% if article is not defined %}
        <h1>Créer un article</h1>
    {% else %}
        <h1>Éditer l'article numéro {{ article.id }}</h1>
    {% endif %}



    {% if article is not defined %}
        <form action="{{ path('articles_new') }}" method="post">
    {% else %}
        <form action="{{ path('articles_update', {id: article.id}) }}" method="post">
            <input type="hidden" name="_method" value="PUT">
    {% endif %}

            <input type="hidden" name="token" value="{{ csrf_token("form_article") }}">

            <div class="form-group">
                <label for="">Titre</label>
                <input type="text" class="form-control" name="title" value="{{ article.title | default('') }}">
            </div>

            <div class="form-group">
                <label for="">Contenu</label>
                <textarea id="" cols="30" rows="10" class="form-control" name="content">{{ article.content | default('') }}</textarea>
            </div>

            {% if article is not defined %}
                <button class="btn btn-primary float-right">Créer un article</button>
            {% else %}
                <button class="btn btn-warning float-right">Modifier l'article</button>
            {% endif %}

       </form>
{% endblock %}